<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="address" class="employee6_springapplicationcontext.Address">
		<property name="city" value="Bean City"></property>
		<property name="hNo" value="123"></property>
	</bean>

	<bean id="manager" class="employee6_springapplicationcontext.Manager">
		<property name="address" ref="address"></property>
	</bean>
	<bean id="director" class="employee6_springapplicationcontext.Director">
		<property name="city" value="New City"></property>
	</bean> 
	
</beans>